@media only screen and (max-width:576px) {
    .header {
        display: flex;
        justify-content: space-around;
        width: 576px;
        max-width: 576px;
        height: 15vh;
    }

    .header .logo {
        height: 8vh;
        width: 15vw;
        top: 5vh;
        left: 4vw;
    }

    .header .searchbar {
        bottom: 5vh;
        position: relative;
        font-size: 12px;
    }

    .header-menu {
        margin-top: 50px;
        padding-left: 50px;
        position: relative;
    }


}